---
import Layout from "../layouts/Layout.astro";
---

<Layout title="i love you beta">
  <main class="flex min-h-screen items-center justify-center">
    <h1 class="text-4xl font-bold">i love you beta</h1>
  </main>
</Layout>
